body {
  background-color: tan;
  text-align: center
}

#battle, #dino-battle, #reset {
  display: none;
}

button {
  background-color: white;
}

button:hover {
  background-color: oldlace;
}

.jumbotron {
  background-color: oldlace;
}
